@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.box {
    display: inline-block;
    position: absolute;
    height: 100px;
    width: 20%;
    top: 10px;
    left: 79%;
    right: 10px;
    border-radius: 5px;
    background: rgba(60, 60, 60, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(100px);
    mask: linear-gradient(transparent, black 60%);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    animation: slideInRight 1s;
}

.box .timerLine {
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: #2eff00;
    position: absolute;
    top: 97%;
    transform: translateY(-50%);
}

.box .line {
    position: absolute;
    top: 40%;
    width: 80%;
    height: 3px;
    left: 10%;
    border-color: transparent;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(318deg, #c31432, #009fff, #ff416c, #8a2387, #ed213a);
    background-image: -o-linear-gradient(318deg, #b92b27, #c31432, #009fff, #ff416c, #8a2387, #ed213a);
    background-image: linear-gradient(132deg, #b92b27, #c31432, #009fff, #ff416c);
    background-size: 400% 400%;
    -webkit-animation: textcolorchange 15s linear infinite;
    animation: textcolorchange 15s linear infinite;
}

.box .topText {
    font-family: 'Poppins', cursive;
    font-size: 35px;
    position: relative;
    left: -32%;
    top: -5%;
    overflow: hidden;
    font-weight: bolder;
    -webkit-background-clip: text;
}

.box .bottomText {
    font-family: 'Poppins', cursive;
    font-size: 25px;
    left: -36%;
    top: -5%;
    color: white;
    position: relative;
    overflow: hidden;
    font-weight: bolder;
    -webkit-background-clip: text;
    bottom: -10%;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: transparent;
}

@keyframes slideInRight {
    from {
        transform: translate3d(500%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes out {
    from {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(500%, 0, 0);
        visibility: hidden;
    }
}

@keyframes timer {
    to {
        width: 0%;
    }

    from {
        width: 100%;
    }

}

@-webkit-keyframes textcolorchange {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 75% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes textcolorchange {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 75% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes timerLine {
    0% {
        width: 100%;
    }

    50% {
        background: yellow;
    }

    80% {
        background: red;
    }

    100% {
        width: 0%;
    }
}