@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.rightSide {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rightSide p {
    position: relative;
    left: -10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    margin: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0.1rem rgba(60, 60, 60, 0.65);
    padding: 0.5rem;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75);
    display: inline-block;
    border-radius: 0.5rem;
    background: rgba(60, 60, 60, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(100px);
    background: rgba(60, 60, 60, 0.65);
    text-align: center;
    color: white;
}

body {
    overflow: hidden;
    border: none;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(500%, 0, 0);
        visibility: hidden;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}