/* make the color of the text in .text rainbow */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.box {
    /* badd blur background on box */
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 30%;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    background: rgba(60, 60, 60, 0.65);
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(100px);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75);
    text-align: center;
}

/* center .text vertically */

.text {
    text-align: center;
    font-family: 'Poppins', cursive;
    font-size: 17px;
    padding: -50px;
    position: relative;
    overflow: hidden;
    transform: translateY(-50%);
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    display: inline;
    top: 5px;
}

@-webkit-keyframes textcolorchange {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 75% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes textcolorchange {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 75% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}