/* make the color of the text in .text rainbow */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.box {
    /* badd blur background on box */
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 30%;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    background: rgba(60, 60, 60, 0.3);
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(100px);
    mask: linear-gradient(transparent, black 60%);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    text-align: center;
}

.text {
    text-align: center;
    font-family: 'Poppins', cursive;
    font-size: 17px;
    padding: -50px;
    position: absolute;
    -webkit-transform: translate(-0%, -50%);
    -ms-transform: translate(-0%, -50%);
    transform: translate(-0%, -50%);
    top: 50%;
    left: 10px;
    overflow: hidden;
    font-weight: bolder;
    text-transform: uppercase;
    background: -webkit-linear-gradient(318deg, #33e218, #33e218, #c31432, #009fff, #ff416c, #8a2387, #ed213a);
    background: -o-linear-gradient(318deg, #33e218, #b92b27, #c31432, #009fff, #ff416c, #8a2387, #ed213a);
    background: linear-gradient(132deg, #33e218, #b92b27, #c31432, #009fff, #ff416c, #33e218, #33e218);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;

    background-size: 400% 400%;
    -webkit-animation: textcolorchange 15s linear infinite;
    animation: textcolorchange 15s linear infinite;
}

@-webkit-keyframes textcolorchange {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 75% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes textcolorchange {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 75% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}